.customBar
{
    margin-right: 10px;
}

.dynamicContent
{
    margin-top: 20px;
}

.footer
{
    position: fixed;
    top: 100%;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.navigation-items{

    margin-right: 10px;
}